<div class="contract-container-wrapper">   
    <div class="logo-wrap" (click)="goToHomePage()">
        <span class="sermart-text">ServMart</span>
        <img src="../../assets/images/servmart-logo-2.png" class="supplier-logo">
        <div class="supplier-center-text">Supplier Center</div>
    </div>
    <div class="contract-page-container container">
        <h1 class="text-center contract-header">Terms of contract</h1>
        <form>
            <div class="form-group">
                <div>
                    <ol>
                        <li>PRICING GUIDELINES
                            <ol>
                                <li>The Supplier agrees to quote their best and lowest wholesale price or transfer price (inclusive
                                    of all applicable taxes) of the Products to be displayed on the Application.</li>
                                <li>The Supplier authorizes the Company in the capacity of marketing agent to discover &
                                    intimate the prevailing best market price for its products. Fixation of sale price shall be at the
                                    sole discretion of the Supplier and it shall be communicated to the Company. The Company
                                    shall act as a “Pure Agent” of the Supplier, under Applicable Law, and shall have no role in
                                    fixation of the sale price of the products on the Application.</li>
                                <li>The Supplier shall have the right to withdraw a particular Product from the Application if
                                    there is a dispute as to the price of that particular Product. All such withdrawals will take
                                    effect within twelve (12) to twenty four (24) hours from notification to the Company.
                                    2. STOCKING GUIDELINES</li>
                            </ol>
                        </li>
                        <li>STOCKING GUIDELINES
                            <ol>
                                <li>The Company and the Supplier shall determine an estimated quantity of pieces to be stocked
                                    as against each Product listed on the application, based on the expected sales. The Supplier
                                    shall ensure that such number of Products shall be reserved for the Company at all times.</li>
                            </ol>
                        </li>
                        <li>BRAND NAME AND MRP TAG VISIBILITY
                            <ol>
                                <li>The Supplier agrees to package the Products in a plain bag, which shall not contain any
                                details of the Supplier or other company’s name.</li>
                                <li>Supplier is not allowed to contact the customer or Reseller directly. In case of any confusion,
                                please get in touch with dedicated Account Manager.</li>
                                <li>Breach of any of the above requirements can result in a penalty of upto Rs.1,000 and
                                permanent deactivation.</li>
                            </ol>
                        </li>
                        <li>LOGISTICS GUIDELINES
                            <ol>
                                <li>The title & ownership in the product/(s) shall be transferred to the Reseller at the place of
                                removal of goods / products. As a large market place, Company provides shipping /
                                logistics service to the Supplier and bill the Supplier for logistics services which the Supplier
                                will consider in the price of the products listed on the platform. If however, due to delivery
                                address not being serviceable by the logistics partner of the Company or due to any
                                unavoidable situations, the Supplier can ship / post the products directly to the delivery
                                address as provided by the Company. Cost of such postage / shipment shall be reimbursed
                                to the Supplier on submission / production of valid / original proof of delivery. Any
                                damage in transit on account of inadequate / unsuitable packaging shall be charged to the
                                account of Supplier. However, any damage to the product in transit due to mishandling by
                                logistic partner appointed by the Company, Company shall facilitate recovery of product
                                value from the logistic partner. In case, products are shipped by the Supplier through any
                                other shipping / courier agency, Supplier shall be responsible for all damages. All orders
                                placed on the App are covered under “TrustPay 100% Moneyback Guarantee” program;
                                hereby Supplier agrees to fulfil the commitments made under the abovementioned program
                                specified at the App. The said program protects the Buyer / Reseller against inadequate or
                                non-performance by the Supplier.</li>
                                <li>On receipt of any Order, the Supplier shall ensure that the Orders are shipped within a
                                period of two (2) Business Days from receiving the order, unless anything to the contrary is
                                agreed to between the Supplier, Company or the Reseller in the respective Order in advance.</li>
                            </ol>
                        </li>
                        <li>INVOICING OF RESELLER AND SUPPLIER FEE
                            <ol>
                                <li>The Supplier shall generate a Tax Invoice with respect to sale of its products on the
                                Application as against the corresponding Reseller. The Supplier shall provide the Company
                                with a copy of such invoice.</li>
                            
                                <li>Alternatively, the Supplier can request the Company to raise the tax invoice based on the
                                HSN code / GST rate provided by it.</li>
                                <li>Company shall collect the product value from the Reseller, on behalf of the Supplier,
                                and the Company shall transfer such amount/(s), subject to the deduction of the
                                Commission or Service Fee within Order Delivered date + 15 days</li>
                            </ol>
                        </li>
                        <li>RETURN, REPAIR, REPLACEMENT AND CANCELLATION POLICIES
                            <ol>
                                <li>The Supplier shall be responsible for determining a return and exchange policy for their
                                Products. In the event of any dispute between the Supplier and a Reseller, the Company
                                reserves the right to determine if such Product falls under the Supplier’s return and exchange
                                policy. The Company’s decision in this regard shall be final and binding.</li>
                                <li>The Supplier shall issue suitably, duly stamped manufacturer’s warranty card (if applicable)
                                to the Reseller with the Product at the time of dispatch of the Products. If any Products are
                                found defective by the Reseller, the Supplier shall ensure repair, replacement of such
                                Product, or refund of the corresponding product value, as per the Supplier’s return policy.</li>
                                <li>In the event of any return/exchange of the Products, the Supplier shall bear all costs and
                                charges, including any logistics charges, incurred in this regard. The return logistics charges
                                will be as per the weight slabs.
                                All returns of the Products shall be returned to the Supplier shipping address only.</li>
                                <li>In case the Supplier fails to make the Product ready for dispatch within the time stipulated
                                or if the Order gets cancelled due to reasons stated under this clause, the Company will be
                                entitled to penalize the Supplier.</li>
                            </ol>
                        </li>
                        <li>THIRD PARTY RIGHTS
                            <ol>
                                <li>The Supplier’s Products and the images shall not infringe upon any third party’s rights,
                                including without limitation, such party’s intellectual property rights.</li>
                            </ol>
                        </li>
                        <li>QUALITY - COMPLIANCE AND PENALTY
                            <ol>
                                <li>In case of any wrong returns or exchange disputes, the Supplier needs to intimate the
                                Company at suppliersupport@meesho.com within 48 hours of receipt of the product along
                                with wrong product images and order id, else it will not be considered.</li>
                                <li>In case of RTO, the Supplier will not be charged by the Company, provided only if the
                                Supplier has dispatched the products within SLA. If the Supplier has dispatched it out of
                                SLA, then the Supplier will have to bear the return charges for RTO as well which will be as
                                per the weight slabs.</li>
                                <li>Supplier’s account will be temporarily or permanently deactivated, or the visibility of
                                products will be reduced based on the average ratings of the catalogs.</li>
                                <li>In case the Supplier’s account gets deactivated, the Supplier will need to submit a plan of
                                action explaining how the Supplier will fix quality issues. Thereafter, the Company will evaluate this plan of
                                action and on the basis of its discretion decide to reactivate the account, but with extremely
                                reduced visibility on the Application.</li>
                            </ol>
                        </li>
                        <li>ORDER FULFILMENT - COMPLIANCE AND PENALTY
                            <ol>
                                <li>Average Dispatch Time
                                    <ol>
                                        <li>All orders should be dispatched within 1-1.5 business days of receiving the same
                                        </li>
                                        <li>An average dispatch time >= 1.5 days will result in reduced visibility on the app and reduced
                                            order volume</li>
                                    </ol>
                                </li>
                                <li>Dispatch SLA Adherence
                                    <ol>
                                        <li>Default dispatch SLA for all Suppliers is 2 business days, unless otherwise specified by
                                            Supplier while listing the product.</li>
                                        <li>Any delay beyond the SLA provided by Supplier will count towards supplier Late Dispatch
                                            Rate (LDR), and will result in reduced visibility on the Application, thereby reducing
                                            Supplier sales.</li>
                                        <li>To avoid pick-ups or delayed scanning issues, it’s advised supplier to manifest the orders at
                                            least 1 day before the SLA, and before 11 AM.</li>
                                        <li>In case of pick-up or delayed scanning issues, supplier need to mail us at
                                            suppliersupport@servmart.com before 12 noon the next day with the list of Order IDs
                                            along with signed manifest(in case of delayed scanning issue).</li>
                                        <li>Any Order that hasn’t been shipped till 3 business days after the SLA will be auto-cancelled
                                            and will incur the penalty as 5% of the product value per day (from order date).</li>
                                        <li>In order to avoid cancellation penalties, it is advised to the Supplier to provide the correct
                                            SLA at the time of listing the products.</li>
                                    </ol>
                                </li>
                                <li>Cancellation
                                    <ol>
                                        <li>Cancellation of orders incurs a penalty as per the following cases:
                                            Cancellation Type Penalty Amount
                                            Auto Cancellation by Company
                                            because of delayed shipping in case of
                                            SLA breach of 3 days
                                            5% of the product value from the
                                            order date to cancel date and maximum amount
                                            will be Rs.107 pre-GST.
                                            Supplier Cancellation in case of the
                                            product not available
                                            Cancellation by reseller in case of any
                                            SLA breach
                                            5% of the product amount from the order date to
                                            cancel date and maximum amount will be Rs. 107
                                            pre-GST.
                                            RTO SLA Breach RTO reverse shipping fees as per the weight slab.</li>
                                        <li>These penalties are applicable on fresh as well as exchange Orders, whenever the Order is
                                            cancelled.</li>
                                        <li>The purpose of the penalty is to protect Company and it’s Resellers, who lose business
                                            whenever an Order is cancelled because of cancellation because of delayed shipping.</li>
                                        <li>Supplier will be able to check the penalties details in the payments section of their Supplier
                                            panel.</li>

                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>DEACTIVATION AND REACTIVATION PROCESS
                            <ol>
                                <li>Over and above these penalties, Company can also deactivate supplier (temporarily or
                                    permanently) in case of continuous performance breach for any the above metrics.</li>
                                <li>Company can reactivate supplier in case supplier provide a concrete plan of action on
                                    performance improvement</li>
                                <li>Once reactivated, supplier will be under review for 2 weeks and the following will be
                                    applicable:<br>
                                     Low visibility for the first two weeks</li>
                            </ol>
                        </li>
                        <li>PENALTIES
                            <ol>
                                <li>The Supplier be penalized for missed orders according to the company policies, which will
                                    be shared with the Supplier from time to time.</li>
                                <li>Any penalty payable by the Supplier hereunder shall be paid within seven (7) days of
                                    notification of such penalty.</li>
                                <li> The Company shall have the right to withdraw a particular Product(s) from the Application
                                    in the event of -
                                    <ol>
                                        <li>any dispute as to the price of the Product(s);</li>
                                        <li>any manufacturing defects; </li>
                                        <li>incorrect Product details; or</li>
                                        <li>any issues with the quality of the Product(s)
                                            All such withdrawals will take effect within seven (7) hours from notification to the Supplier.</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <!-- <textarea class="w-100 text-border-box" cols="30" rows="30" readonly>
                    1. PRICING GUIDELINES
                    1.1. The Supplier agrees to quote their best and lowest wholesale price or transfer price (inclusive
                    of all applicable taxes) of the Products to be displayed on the Application.
                    1.2. The Supplier authorizes the Company in the capacity of marketing agent to discover &
                    intimate the prevailing best market price for its products. Fixation of sale price shall be at the
                    sole discretion of the Supplier and it shall be communicated to the Company. The Company
                    shall act as a “Pure Agent” of the Supplier, under Applicable Law, and shall have no role in
                    fixation of the sale price of the products on the Application.
                    1.3. The Supplier shall have the right to withdraw a particular Product from the Application if
                    there is a dispute as to the price of that particular Product. All such withdrawals will take
                    effect within twelve (12) to twenty four (24) hours from notification to the Company.
                    2. STOCKING GUIDELINES
                    2.1. The Company and the Supplier shall determine an estimated quantity of pieces to be stocked
                    as against each Product listed on the application, based on the expected sales. The Supplier
                    shall ensure that such number of Products shall be reserved for the Company at all times.
                    3. BRAND NAME AND MRP TAG VISIBILITY
                    3.1. The Supplier agrees to package the Products in a plain bag, which shall not contain any
                    details of the Supplier or other company’s name.
                    3.2. Supplier is not allowed to contact the customer or Reseller directly. In case of any confusion,
                    please get in touch with dedicated Account Manager.
                    3.3. Breach of any of the above requirements can result in a penalty of upto Rs.1,000 and
                    permanent deactivation.
                    4. LOGISTICS GUIDELINES
                    4.1. The title & ownership in the product/(s) shall be transferred to the Reseller at the place of
                    removal of goods / products. As a large market place, Company provides shipping /
                    logistics service to the Supplier and bill the Supplier for logistics services which the Supplier
                    will consider in the price of the products listed on the platform. If however, due to delivery
                    address not being serviceable by the logistics partner of the Company or due to any
                    unavoidable situations, the Supplier can ship / post the products directly to the delivery
                    address as provided by the Company. Cost of such postage / shipment shall be reimbursed
                    to the Supplier on submission / production of valid / original proof of delivery. Any
                    damage in transit on account of inadequate / unsuitable packaging shall be charged to the
                    account of Supplier. However, any damage to the product in transit due to mishandling by
                    logistic partner appointed by the Company, Company shall facilitate recovery of product
                    value from the logistic partner. In case, products are shipped by the Supplier through any
                    other shipping / courier agency, Supplier shall be responsible for all damages. All orders
                    placed on the App are covered under “TrustPay 100% Moneyback Guarantee” program;
                    hereby Supplier agrees to fulfil the commitments made under the abovementioned program
                    specified at the App. The said program protects the Buyer / Reseller against inadequate or
                    non-performance by the Supplier.
                    4.2. On receipt of any Order, the Supplier shall ensure that the Orders are shipped within a
                    period of two (2) Business Days from receiving the order, unless anything to the contrary is
                    agreed to between the Supplier, Company or the Reseller in the respective Order in advance.
                    5. INVOICING OF RESELLER AND SUPPLIER FEE
                    5.1. The Supplier shall generate a Tax Invoice with respect to sale of its products on the
                    Application as against the corresponding Reseller. The Supplier shall provide the Company
                    with a copy of such invoice.
                    5.2. Alternatively, the Supplier can request the Company to raise the tax invoice based on the
                    HSN code / GST rate provided by it.
                    5.3. The Company shall collect the product value from the Reseller, on behalf of the Supplier,
                    and the Company shall transfer such amount/(s), subject to the deduction of the
                    Commission or Service Fee within Order Delivered date + 15 days
                    6. RETURN, REPAIR, REPLACEMENT AND CANCELLATION POLICIES
                    6.1. The Supplier shall be responsible for determining a return and exchange policy for their
                    Products. In the event of any dispute between the Supplier and a Reseller, the Company
                    reserves the right to determine if such Product falls under the Supplier’s return and exchange
                    policy. The Company’s decision in this regard shall be final and binding.
                    6.2. The Supplier shall issue suitably, duly stamped manufacturer’s warranty card (if applicable)
                    to the Reseller with the Product at the time of dispatch of the Products. If any Products are
                    found defective by the Reseller, the Supplier shall ensure repair, replacement of such
                    Product, or refund of the corresponding product value, as per the Supplier’s return policy.
                    6.3 In the event of any return/exchange of the Products, the Supplier shall bear all costs and
                    charges, including any logistics charges, incurred in this regard. The return logistics charges
                    will be as per the weight slabs.
                    All returns of the Products shall be returned to the Supplier shipping address only.
                    6.3. In case the Supplier fails to make the Product ready for dispatch within the time stipulated
                    or if the Order gets cancelled due to reasons stated under this clause, the Company will be
                    entitled to penalize the Supplier.
                    7. THIRD PARTY RIGHTS
                    7.1. The Supplier’s Products and the images shall not infringe upon any third party’s rights,
                    including without limitation, such party’s intellectual property rights.
                    8. QUALITY - COMPLIANCE AND PENALTY
                    8.1. In case of any wrong returns or exchange disputes, the Supplier needs to intimate the
                    Company at suppliersupport@meesho.com within 48 hours of receipt of the product along
                    with wrong product images and order id, else it will not be considered.
                    8.2. In case of RTO, the Supplier will not be charged by the Company, provided only if the
                    Supplier has dispatched the products within SLA. If the Supplier has dispatched it out of
                    SLA, then the Supplier will have to bear the return charges for RTO as well which will be as
                    per the weight slabs.
                    8.3. Supplier’s account will be temporarily or permanently deactivated, or the visibility of
                    products will be reduced based on the average ratings of the catalogs.
                    8.4. In case the Supplier’s account gets deactivated, the Supplier will need to submit a plan of
                    action explaining how the Supplier will fix quality issues. Thereafter, the Company will evaluate this plan of
                    action and on the basis of its discretion decide to reactivate the account, but with extremely
                    reduced visibility on the Application.
                    9. ORDER FULFILMENT - COMPLIANCE AND PENALTY
                    9.1. Average Dispatch Time
                    8.1.1 All orders should be dispatched within 1-1.5 business days of receiving the same
                    8.1.2 An average dispatch time >= 1.5 days will result in reduced visibility on the app and reduced
                    order volume
                    9.2. Dispatch SLA Adherence
                    8.2.1 Default dispatch SLA for all Suppliers is 2 business days, unless otherwise specified by
                    Supplier while listing the product.
                    8.2.2 Any delay beyond the SLA provided by Supplier will count towards supplier Late Dispatch
                    Rate (LDR), and will result in reduced visibility on the Application, thereby reducing
                    Supplier sales.
                    8.2.3 To avoid pick-ups or delayed scanning issues, it’s advised supplier to manifest the orders at
                    least 1 day before the SLA, and before 11 AM.
                    8.2.4 In case of pick-up or delayed scanning issues, supplier need to mail us at
                    suppliersupport@servmart.com before 12 noon the next day with the list of Order IDs
                    along with signed manifest(in case of delayed scanning issue).
                    8.2.5 Any Order that hasn’t been shipped till 3 business days after the SLA will be auto-cancelled
                    and will incur the penalty as 5% of the product value per day (from order date).
                    8.2.6 In order to avoid cancellation penalties, it is advised to the Supplier to provide the correct
                    SLA at the time of listing the products.
                    9.3. Order Cancellation
                    8.3.1 Cancellation of orders incurs a penalty as per the following cases:
                    Cancellation Type Penalty Amount
                    Auto Cancellation by Company
                    because of delayed shipping in case of
                    SLA breach of 3 days
                    5% of the product value from the
                    order date to cancel date and maximum amount
                    will be Rs.107 pre-GST.
                    Supplier Cancellation in case of the
                    product not available
                    Cancellation by reseller in case of any
                    SLA breach
                    5% of the product amount from the order date to
                    cancel date and maximum amount will be Rs. 107
                    pre-GST.
                    RTO SLA Breach RTO reverse shipping fees as per the weight slab.
                    8.3.2 These penalties are applicable on fresh as well as exchange Orders, whenever the Order is
                    cancelled.
                    8.3.3 The purpose of the penalty is to protect Company and it’s Resellers, who lose business
                    whenever an Order is cancelled because of cancellation because of delayed shipping.
                    8.3.4 Supplier will be able to check the penalties details in the payments section of their Supplier
                    panel.
                    10. DEACTIVATION AND REACTIVATION PROCESS
                    10.1. Over and above these penalties, Company can also deactivate supplier (temporarily or
                    permanently) in case of continuous performance breach for any the above metrics.
                    10.2. Company can reactivate supplier in case supplier provide a concrete plan of action on
                    performance improvement
                    10.3. Once reactivated, supplier will be under review for 2 weeks and the following will be
                    applicable:
                    ○ Low visibility for the first two weeks
                    11. PENALTIES
                    11.1. The Supplier be penalized for missed orders according to the company policies, which will
                    be shared with the Supplier from time to time.
                    11.2. Any penalty payable by the Supplier hereunder shall be paid within seven (7) days of
                    notification of such penalty.
                    11.3. The Company shall have the right to withdraw a particular Product(s) from the Application
                    in the event of -
                    11.3.1. any dispute as to the price of the Product(s);
                    11.3.2. any manufacturing defects; 
                    11.3.3. incorrect Product details; or
                    11.3.4. any issues with the quality of the Product(s)
                    All such withdrawals will take effect within seven (7) hours from notification to the Supplier.
                </textarea> -->
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="changeCheck($event)">
                <label class="form-check-label" for="exampleCheck1">I have read and accept the terms of contract</label>
            </div>
            <div class="flex-display">
                <button mat-raised-button color="primary" class="button" [disabled]="disabledAgreement" (click)="goToSubscription()">Continue</button>
            </div>
            
        </form>
    </div>
</div>
