.upload-image-button{
    width: auto !important;
    margin-right: 30px;
}
.rotation-input-box{
    width: 300px;
    display: inline-block;
    margin-right: 15px;
}
.button-wrapper-direction{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.button-wrapper-aspect{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.button-wrapper-zoom{
    display: flex;
    align-items: center;    
    margin-bottom: 15px;
}
.cropped-image-container{
    border: 2px solid #4082c4;
    border-radius: 5px;
}
.action-btn-container{
    margin:15px 0
}