<!-- <div>
    <img src="../../assets/images/servmart-logo.png" class="supplier-logo">
  </div> -->
  <div class="customer-base header-section">
    <div>
        <h2 class="section-title">  How To Sell With ServMart  </h2> 
    </div>
    <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile>
            <ul class="grid-list-style">
                <li>
                    <img class="mode-image" src="//i5.walmartimages.com/dfw/63fd9f59-405b/789c2b4a-e47a-4016-befe-f335ad8b8225/v1/approval_doc.svg"></li>
                <li>
                    <h3 class="mode-title">Apply for Approval</h3>
                </li>
                <li>
                    <p class="mode-desc">Submit an application to become an official<br> ServMart Supplier. We select our Partners based<br> on reputation, sales and alignment with<br> ServMart’s values. </p>
                </li>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile>
            <ul class="grid-list-style">
                <li>
                    <img class="mode-image" src="//i5.walmartimages.com/dfw/63fd9f59-405b/789c2b4a-e47a-4016-befe-f335ad8b8225/v1/item_add.svg"></li>
                <li>
                    <h3 class="mode-title">Add your items</h3>
                </li>
                <li>
                    <p class="mode-desc">Once you add your items using one of our<br> integration methods, your items will be<br> available for sale to ServMart customers. </p>
                </li>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile>
            <ul class="grid-list-style">
                <li>
                    <img class="mode-image" src="//i5.walmartimages.com/dfw/63fd9f59-405b/789c2b4a-e47a-4016-befe-f335ad8b8225/v1/trolley_fulfill.svg"></li>
                <li>
                    <h3 class="mode-title">Fulfill Customer Orders</h3>
                </li>
                <li>
                    <p class="mode-desc">Approved Suppliers may ship directly to<br> customers, or ServMart may choose to ship<br> items on behalf of the Supplier. </p>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
</div>