<div class="customer-base header-section">
    <div>
        <h2 class="section-title"> Maximize Exposure With Our Huge Customer Base </h2> 
        <p class="section-title-meta"> ServMart customers shop everywhere. </p>
    </div>
    <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile>
            <ul class="grid-list-style">
                <li>
                    <img class="mode-image" src="//i5.walmartimages.com/dfw/63fd9f59-405b/789c2b4a-e47a-4016-befe-f335ad8b8225/v1/desktop.svg"></li>
                <li>
                    <h3 class="mode-title">Online at ServMart.com</h3>
                </li>
                <li>
                <p class="mode-desc">Over 200 million customers visit ServMart.com<br> every month, and many of them are looking for<br> products just like yours. </p>
                </li>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile>
            <ul class="grid-list-style">
                <li>
                    <img class="mode-image" src="//i5.walmartimages.com/dfw/63fd9f59-405b/789c2b4a-e47a-4016-befe-f335ad8b8225/v1/mobile.svg"></li>
                <li>
                    <h3 class="mode-title">Through the ServMart App</h3>
                </li>
                <li>
                    <p class="mode-desc">When ServMartcustomers are on the move,<br> they turn to our mobile app to find the items<br> they're looking for. </p>
                </li>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile>
            <ul class="grid-list-style">
                <li>
                    <img class="mode-image" src="//i5.walmartimages.com/dfw/63fd9f59-405b/789c2b4a-e47a-4016-befe-f335ad8b8225/v1/store.svg"></li>
                <li>
                    <h3 class="mode-title">In ServMart Stores</h3>
                </li>
                <li>
                    <p class="mode-desc">With thousands of retail locations, ServMart<br> customers can visit one of our many stores to<br> find a wide variety of items and pick up<br> products they purchase online. </p>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
</div>