.header-section.customer-base {
  background-color: #f8f8f8;
  padding: 30px 0;
  border-bottom: 1px solid #dbdbdb;
  color: #2e2e2e;
  text-align: center;
}
.section-title {
  font-size: 35px;
  margin-top: 15px;
}
.section-title-meta {
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.grid-list-style {
  list-style: none;
  padding: 0;
}
.mode-image {
  height: 57px;
}
.mode-title {
  font-size: 25px;
  margin: 25px 0 15px;
}
.mode-desc {
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 10px;
}
