.footer-wrap {
  background: #2e2e2e;
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 15px;
  height: 40px;
}
.footer-wrap .row {
  padding: 11px 20px;
}
.footer-wrap .row p {
  float: left;
  font-weight: 200;
}
