<div class="main-wrapper login" fxLayout="row" fxLayoutAlign="center center">
    <div class="logo-wrap" (click)="goToHomePage()">
        <span class="sermart-text">ServMart</span>
        <img src="../../assets/images/servmart-logo-2.png" class="supplier-logo">
        <div class="supplier-center-text">Supplier Center</div>
    </div>
    <div class="login-container">
        <form [formGroup]="updatePassword" class="login-form" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <label for="password" class="label-color">Current Password</label>
                <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['currentPassword'].errors }" placeholder="Enter current password here" />
                <div *ngIf="submitted && fval['currentPassword'].errors" class="invalid-feedback">
                    <div *ngIf="fval['currentPassword'].errors['required']">Current Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="label-color">New Password</label>
                <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['newPassword'].errors }" placeholder="Enter new password here" />
                <div *ngIf="submitted && fval['newPassword'].errors" class="invalid-feedback">
                    <div *ngIf="fval['newPassword'].errors['required']">New Password is required</div>
                    <div *ngIf="fval['newPassword'].errors['minlength']">New Password length should be more than 7 characters!!</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="label-color">Confirm Password</label>
                <input type="confirmPassword" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['confirmPassword'].errors }" placeholder="Enter confirm password here" />
                <div *ngIf="submitted && fval['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="fval['confirmPassword'].errors['required']">Confirm Password is required</div>
                    <div *ngIf="fval['confirmPassword'].errors['minlength']">Password length should be more than 7 characters</div>
                    <div *ngIf="fval['confirmPassword'].errors['fieldMatchValidator']">New Password and Confirm Password must be match.</div>
                    <div></div>
                </div>
            </div>
            <div class="form-group action-container">
                <button mat-raised-button color="primary" [disabled]="loading" class="button">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update Password
                </button>
            </div>
            <div class="error-msg">{{resetPasswordResponse}}</div>
            <div id="countdown"></div>
        </form>
    </div>
</div>