.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
  }
  .login-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 500px;
    background: white;
    border: 1px solid white;
  }
  .login-form {
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    background: white;
  }
  .main-wrapper {
    background-color: #003873;
    height: 100vh;
  }
  .main-wrapper .full-width,
  .main-wrapper .btn-block {
    width: 100%;
  }
  
  .main-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .main-wrapper mat-card-header mat-card-title {
    font-size: 24px;
    margin: 0;
  }
  
  .main-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #fff7fa;
  }
  
  .main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }
  mat-form-field {
    margin-bottom: 10px;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }
  .flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-text-color {
    color: #006799;
    font-family: "Roboto";
  }
  .main-wrapper.login .logo-wrap {
    position: relative;
  }
  .main-wrapper.login .label-color {
    color: black;
    font-weight: 500;
  }
  .action-container {
    margin-top: 15px;
  }
  .btn-link {
    padding: 0;
  }
  .passwordResetSuccessPage {
    height: 100vh;
    width: 100%;
  }
  .passwordResetSuccessPage .box {
    padding: 50px 50px 40px 50px;
    width: calc(100vw - 100px);
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    margin: 12px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    max-height: 300px;
  }
  .passwordResetSuccessPage .text-link {
    font-size: 21px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    height: calc(100% - 142px);
    color: black;
  }
  .passwordResetSuccessPage .button {
    margin-top: 50px;
  }
  .success-box {
    text-align: center;
    padding: 25px !important;
    color: black;
    .tick-mark {
      padding-bottom: 30px;
    }
    img {
      width: 65px;
    }
    .confirm-password {
      font-size: 16px;
      padding-top: 15px;
    }
    button {
      width: 20%;
      margin-top: 15px !important;
    }
  }
  