<div class="main-wrapper login" fxLayout="row" fxLayoutAlign="center center">
    <div class="logo-wrap" (click)="goToHomePage()">
        <span class="sermart-text">ServMart</span>
        <img src="../../assets/images/servmart-logo-2.png" class="supplier-logo">
        <div class="supplier-center-text">Supplier Center</div>
    </div>
    <div class="login-container">
        <form [formGroup]="passwordReset" class="login-form" (ngSubmit)="onFormSubmit()" *ngIf="!passwordResetSuccess">
            <div class="form-group">
                <label for="password" class="label-color">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['password'].errors }" placeholder="Enter password here" />
                <div *ngIf="submitted && fval['password'].errors" class="invalid-feedback">
                    <div *ngIf="fval['password'].errors['required']">Password is required</div>
                    <div *ngIf="fval['password'].errors['minlength']">Password length should be more than 7 characters!!</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="label-color">Confirm Password</label>
                <input type="confirmPassword" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['confirmPassword'].errors }" placeholder="Enter confirm password here" />
                <div *ngIf="submitted && fval['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="fval['confirmPassword'].errors['required']">Confirm Password is required</div>
                    <div *ngIf="fval['confirmPassword'].errors['minlength']">Password length should be more than 7 characters</div>
                    <div *ngIf="fval['confirmPassword'].errors['fieldMatchValidator']">Password and Confirm Password must be match.</div>
                    <div></div>
                </div>
            </div>
            <div class="form-group action-container">
                <button mat-raised-button color="primary" [disabled]="loading" class="button">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Set New Password
                </button>
            </div>
            <div class="error-msg">{{resetPasswordResponse}}</div>
        </form>
        <div *ngIf="passwordResetSuccess" class="passwordResetSuccessPage">
            <div class="box success-box">
                <div class="tick-mark">
                    <img src="../../assets/images/tick3.png">
                </div>
                <p class="confirm-password">{{resetPasswordResponse}}
                    <br>Try logging in now with the new password!!
                </p>
                <button mat-raised-button color="primary" class="button" (click)="goToLoginPage()">Login</button>
            </div>
        </div>
    </div>
</div>